.text-color a:hover{
   color: white;
}
textarea {
   resize: none !important;
 }
 label{
   font-size: 18px;
   font-weight: bold;
 }


 @media only screen and (max-width: 1077px) {
  table tr td .btn-outline-danger{
    margin-top: 5px;
  }
}


@media only screen and (max-width: 704px) {
  .panel-info .panel-body{
    overflow-x: scroll;
  }
}