.cursor-pointer{
    cursor: pointer;
}
.min-height-200{
    min-height: 200px;
}

.hidden-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .max-w80{
    max-width: 80px;
  }