.navbar-side{
    background-color: #f1f0f0;
    width: 100%;


}
.navbar-side .nav-item {
    transition: .4s;
    margin: 4px 10px;
    padding: 0 10px;
    line-height: 46px;
    font-size: 16px;
}
.navbar-side .nav-item:hover{
    background-color: #adb5b1;
    color: black;
    border-radius: 5px;
 
    
}